{% extends 'base.html.twig' %}

{% block body %}
<div class="container">

    <div class="row">

        {% for message in app.flashes('success') %}
            <div class="alert alert-success" role="alert">
                {{  message }}
            </div>

        {% endfor %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="g-recaptcha" data-sitekey="{{ g_recaptcha_key }}"></div>
        <input class="btn btn-default" type="submit" value="Contact Us">
        {{ form_end(form) }}
    </div>
</div>
        {% endblock %}

{% block stylesheets %}

{% endblock %}